/* general */
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

:root{
    font-family: 'Whitney', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin:0;
    font-size: 23px;
}

button{
    font-size: 23px;
    padding:15px 25px;
    margin:4% 2%;
    border-radius: 100px;
    border-style: none;
}
button:hover{
    filter: brightness(90%);
}

button:active{
    filter:drop-shadow(2px 2px black);
}


/* header */

header{
    color: white;
}

#nav_section{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#255ee9;
    height: 50px;
   
}

.nav_container{
    margin-top: 25px;
    display: flex;
    align-items: center;
    width:20% ;

}

#nav{
    width:40% ;
    display: flex;
    justify-content: center;
    align-items: center;
}

#nav_section .nav_container:last-child{
 flex-direction: row-reverse;
}

header ul{
    height: 100%;
    display: flex;
    justify-content:space-between;  
    list-style-type: none;
    flex-wrap: wrap;
}

li{
margin:auto 10px;
}

#download_section{
    padding: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../img/jumbo.png);
    background-repeat: no-repeat;
    background-size:  cover;
     
}

#download_container {
    padding:2%;
    text-align: center;
    width:65% ;
}

h1{
    font-size: 55px;
    margin:50px;
}

h2{
    font-size: 45px; 
    margin-bottom:50px;
}

#open_discord{
    background-color: rgb(21, 21, 32);
    color: white;
}


/* main */
main section{
    padding: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
}

/* gray BG section */
main div:nth-child(even){
    flex-direction: row-reverse;
background-color: rgb(191, 191, 191);
} 

main section:last-child div{
    width:80% ;
   
}

.img_container{  
    text-align: center; 
    width: 45%;
    min-width: 500px;

}

.info_container{
    min-width: 500px;
    padding: 25px;
    width: 35%;
}

.last{
    text-align: center;
}

#scarica_mac{
    color: white;
    background-color: #4c78e8;
    
}

/* footer */
footer section{
    padding:30px 0;
    color: white;
    display: flex;
    justify-content: center;
    background-color: rgb(35, 34, 39);
   
}



footer section:first-child{
    padding:20px 0;
   
}

footer section:last-child{
    align-items:flex-end;
  
}

#contacts{
    padding-top: 20px;
    padding: 20px 0;
    width:calc(80% / 3);
    border-bottom: #4c78e8 1px solid;

}

footer h3{
    font-size: 30px;
    color: #4c78e8;
    margin-bottom: 30px;
}

img[alt="italy_flag_icon"]{
    max-height: 20px;
}

.social{
    margin:30px 15px;
}

.search{
    padding-top: 20px;
    padding: 20px 0;
    width:calc(80% / 6);
    border-bottom: #4c78e8 1px solid;
}

footer ul{
    list-style-type: none;
}

footer ul li:first-child{
    color: #4c78e8;
}

#sing_in{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;

}

